include LICENSE
include README.md
recursive-include palewire *.html *.conf static/*.css static/*.css_t
prune .devcontainer
prune .github
prune docs
prune tests
exclude .gitignore
exclude .pre-commit-config.yaml
exclude AGENTS.md
