[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
sphinx-autobuild = "*"
sphinx-click = "*"
sphinxcontrib-napoleon = "*"
sphinxcontrib-mermaid = "*"
myst-parser = "*"
tomli = "*"
exceptiongroup = "*"

[packages]
Sphinx = "*"

[requires]
python_version = "3.11"
